@model WebApplicationBase.ViewModels.FvmBaseModel.VM_Data
@{

}

<h1>Update</h1>

<form asp-action="Update" method="post">
    @Html.HiddenFor(x => x.ID)
    <div class="mb-3 row">
        <div class="col-1"><label for="Title" class="form-label">Title:</label></div>
        <div class="col-3">@Html.TextBoxFor(x => x.Title, new { @class = "form-control", placeholder = "Title" })</div>
        <div class="col-8"></div>
    </div>

    <div class="mb-3 row">
        <div class="col-1"><label for="Content" class="form-label">Content:</label></div>
        <div class="col-3">@Html.TextBoxFor(x => x.Content, new { @class = "form-control", placeholder = "Content" })</div>
        <div class="col-8"></div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>