<!DOCTYPE html>
<html lang="en">

<!--CSS-->
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/WebApplicationBase.styles.css" asp-append-version="true" />
<link href="~/css/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

<!--JavaScript-->
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/sweetalert2/sweetalert2.min.js"></script>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplicationBase</title>
</head>
<body>
    <!--上選單-->
    <header>       
        @await Component.InvokeAsync("TopMenu")     
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <!--內容-->
            @RenderBody()
        </main>
    </div>
    <!--下選單-->
    <footer class="border-top footer text-muted">  
        @await Component.InvokeAsync("FooterMenu")
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>