@{
    ViewData["Title"] = "Home Page";
}

@section scripts {
    <script>
        var PageScope = {
            Url: {
               
            }
        };
    </script>
    <script type="text/javascript" src="@Url.Content("~/js/Home/Index.js")" asp-append-version="true"></script>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
